USE [master]
GO
/****** Object:  Database [Students]    Script Date: 7/28/2024 5:33:08 PM ******/
CREATE DATABASE [Students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Students', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Students.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Students_log', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Students_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Students]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 7/28/2024 5:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[regNo] [int] NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[dateOfBirth] [datetime] NULL,
	[gender] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[mobilePhone] [int] NULL,
	[homePhone] [int] NULL,
	[parentName] [varchar](50) NULL,
	[nic] [varchar](50) NULL,
	[contactNo] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
